:root {
	/** CSS DARK THEME PRIMARY COLORS */
	--color-primary-500: #dcbbfe;

	/** CSS DARK THEME MIXED SURFACE COLORS */
	--color-surface-mixed-100: #211d25;
	--color-surface-mixed-200: #363239;
	--color-surface-mixed-300: #4c484f;
	--color-surface-mixed-600: #949196;
	/** EXAMPLES */
}

body {
	background-color: var(--color-surface-mixed-100);
	color: white;
	font-size: 28px;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 50px;
}

#card {
	text-align: center;
	width: 300px;
	height: 350px;
	background-color: var(--color-surface-mixed-200);
	border-radius: 8px;
}

p {
	padding-left: 15px;
	padding-top: 15px;
	text-align: left;
}

.btnDiv {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	background-color: var(--color-primary-500);
	width: 150px;
	height: 50px;
	font-size: 24px;
	font-weight: 700;
	border-radius: 8px;
	color: var(--color-surface-mixed-100);
}

.form-popup {
	display: none;
	margin: 0 auto;
	width: 500px;
	justify-content: center;
	background-color: var(--color-surface-mixed-300);
	border-radius: 8px;
}

.btn-primary {
	padding: 0;
	margin: 0 auto;
}

.form-control {
	width: 100%;
}

.form-control::placeholder {
	padding-left: 15px;
}

.form-group {
	display: flex;
	flex-flow: row wrap;
	justify-content: left;
	align-items: center;
	padding: 15px;
	gap: 10px;
	font-size: 20px;
}

.radio-buttons-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

.radio-button {
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.radio-button__input {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.radio-button__label {
	display: inline-block;
	padding-left: 30px;
	margin-bottom: 10px;
	position: relative;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.radio-button__custom {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #fff;
	transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.radio-button__input:checked + .radio-button__label .radio-button__custom {
	transform: translateY(-50%) scale(0.9);
	border: 5px solid #4c8bf5;
	color: #4c8bf5;
}

.radio-button__input:checked + .radio-button__label {
	color: #4c8bf5;
}

.radio-button__label:hover .radio-button__custom {
	transform: translateY(-50%) scale(1.2);
	border-color: #4c8bf5;
	box-shadow: 0 0 10px #4c8bf580;
}

.form-check-input {
	color: var(--color-surface-mixed-200);
}

.btn-primary {
	background-color: var(--color-primary-500);
}
